/*-----------------Create Post menu Start---------------------*/
.menu-background{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}
.createpost-menu{
    border-radius: 6px;
    background-color: #fff;
    width: 550px;
    max-width: 550px;
    box-shadow: 2px 2px 2px rgba(119, 119, 119, .5);
}

.createpost-menu .header{
    border-radius: 6px 6px 0 0;
}

.createpost-menu-inner{
    padding: 20px; 
 }
 .createpost-menu hr{ /*setting menu分割线*/
     border: 0;
     height: 1px;
     background: #9a9a9a;
     margin: 15px 0;
 }
 .create-post-container{ /*Write*/

     background: #fff;
     border-radius: 6px;
     padding: 20px;
     padding-top: 3px;
     color: #626262;
 }
 .createpost-menu .post-input-container{
     padding-left: 0;
     padding-top: 20px;
 }
select{
    margin-top: 5px;
    border-radius: 1.2em;
    border: 1px solid #9a9a9a;
    height: 12%;
    padding: 7px 0;
    color: #626262;
    outline: none;
}
 .createpost-menu .title-box{
     background:#efefef;
     width: 100%;
     display: flex;
     align-items:center;
     padding: 0;
 }
 .createpost-menu .post-input-container textarea{
    padding: 10px;
    position: sticky;
    right: 1000px;
    width: 100%;
    height: 200px;
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
 }

 .file-upload{
    transition: 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    border: 2px dashed #cecece;
    position: relative;
 }

 .file-upload.active{
    background: #d4d4d4;
 }

 .file-upload.uploaded{
   display: block;
   border: none;
   padding: 0;
 }

 .file-upload .icon{
    font-size: 30px;
 }

 .file-upload .file-upload-button{
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 5px 9px;
    border: none;
    background: #ae2012;
    border-radius: 5px;
 }

 .file-upload #file-upload-item{
    margin: 5px 0px;
 }

 .file-upload img{
   object-fit: contain;
   width: 470px;
   height: 247px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 20px;
 }

.img-btn-bg{
   border: none;
   font-size: 20px;
   position: absolute;
   font-size: 15px;
   color: black;
   width: 30px;
   height: 30px;
   text-align: center;
   vertical-align: middle;
   background: rgba(172, 172, 172, 0.8);
   border-radius: 50%;
   cursor: pointer;
}

.img-btn-bg:hover{

   color: white;
   background: #777777;
}

#delete-img-btn{
   right: 15px;
   top: 15px;
 }

#prev-img-btn{
   left: 15px;
   top: 50%;
}

#next-img-btn{
   right: 15px;
   top: 50%;
}

#add-img-btn{
   right: 15px;
   bottom: 15px;
}

 .post-forum-bottom {
    display: flex;
    justify-content: center;
 }

 .post-forum-bottom .btn{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
 }
 
 #upload_img{
   border-radius: 20px;
 }
 /*-----------------Create Post menu End---------------------*/