
/*Home Page Start*/
/*--------------Write Post Start--------------*/
.write-post-container{ /*Write*/
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.write-post-container .write-post-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.write-post-top{
    display: flex;
    align-items: center;
}
.write-post-top img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
    text-align:left
}
.post-input-container{
    padding-left: 55px;
    padding-top: 5px;
}
.title-box{
    background:#efefef;
    width: 100%;
    display: flex;
    align-items:center;
    padding: 0;
}

.title-box button{
    font-size: .9375rem;
    text-align: left;
    color: #626262;
    cursor: pointer;
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    transition: 0.3s;
}

.title-box button:hover{
    background: #e0e0e0;
}

.title-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 13px;
    color: #626262;
}

.add-post-links a i{
    margin-right: 5px;
}

.add-post-links input{
    margin-top: 10px;
    text-decoration: none;
    align-items: center;
    font-size: 13px;
    color: #626262;
}
.add-post-links a:hover{
    color: #141e5f;
}
/*--photos menu start--*/
.photos-menu{
    position: absolute;
    width: 50%;
    max-width: 280px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 50%;
    right: 48%;
    max-height: 0;
    transition: max-height 0.3s;
}
.photos-menu-height{
    max-height: 155px;
}
.photos-menu-inner{
   padding: 20px; 
}
.photos-menu img{
    width: 55px;
    height: 55px;
}
.photos-menu img:hover{
    box-shadow: 2px 2px 3px rgba(119, 119, 119, .5);
}
/*--Photos menu End--*/
/*--Feelings menu start--*/
.feelings-menu{
    position: absolute;
    width: 50%;
    max-width: 290px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 32%;
    right: 32%;
    max-height: 0;
    transition: max-height 0.3s;
}
.feelings-menu-height{
    max-height: 135px;
}
.feelings-menu-inner{
   padding: 20px; 
}
.feelings-menu img{
    color: #f28f1e;
    font-size: large;
    padding: 7px 7px;
    display: inline-flexbox;
    box-shadow: 2px 2px 2px rgba(119, 119, 119, .5);
}
.feelings-menu img:hover{
    background-color: #fae1c5;
}
/*--Feelings menu End--*/
/*--------------Write Post End--------------*/


/*--------------ALL Post Start--------------*/
/*---Popup Box for More Button Start---*/
/*--self more menu--*/
.selfmore-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.selfmore-menu-height{
    max-height: 350px;
}

/*--Delect--*/
.delect-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.delect-menu-height{
    max-height: 350px;
}
.delect-menu p{
    padding: 50px 10px;
}
button-bot {
    position: absolute;
    bottom: 12px;
    right: 25px;
    width: 70px;
    padding: 6px 0;
    background-color: #b02828;
    border: none;
    outline: none;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }
button-bot:hover {
    background-color: #f28f1e;
}
.delect-btn-outter{
    width: 173px;
    margin: 30px auto;
}
.delect-btn{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    padding: 5px;
    margin-top: 30px;
    background-color: #b02828;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
}
.cancel-btn{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    padding: 5px;
    margin-top: 30px;
    background-color: #9a9a9a;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
}
/*--Delect--*/
/*--Privacy--*/
.block-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 310px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.block-menu-height{
    max-height: 270px;
}
.block-menu-inner{
    width: 200px;
    margin: auto;
}
.block-menu h3{
    display: inline;
}
.block-menu select{
    margin-top: 52px;
    border-radius: 1.2em;
    border: 1px solid #9a9a9a;
    width: 40%;
    height: 12%;
    padding: 7px 0;
    outline: none;
}
/*--Privacy--*/
.friendmore-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.friendmore-menu-height{
    max-height: 350px;
}
.report-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 640px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;

    max-height: 0;
    transition: max-height 0.3s;
}
.report-menu-height{
    max-height: 640px;
}
.report-choice-inner{
    background-color: white;
    width: 370px;
    margin: 8px 10px;
    display: flex;
    padding: 5px 32px;
    font-size: 15px;
    color: #000000;
    text-align: left;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
}
.report-success-menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 400px;
    bottom: 0;
    margin: auto;
    width: 50%;
    max-width: 400px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.report-success-menu-height{
    max-height: 350px;
}
.fa-ellipsis-v:hover{
    color: #ab2222;
}
.fa-check{
    margin: auto;
    font-size: 50px;
    color: #ab2222;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 3px solid #ab2222;
    text-align: center;
    padding-top: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 165px;
}
.edit-choice,.privacy-choice,.delect-choice,.report-choice{
    background-color: white;
    width: 370px;
    margin: 15px 15px;
    display: flex;
    padding: 15px 32px;
    font-size: 17px;
    color: #000000;
    text-align: left;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
}
.edit-choice:hover,.privacy-choice:hover,.delect-choice:hover,.choice-delect:hover,.report-choice:hover,.report-choice-inner:hover{
    background-color: #ebc8c8;
}
/*---Popup Box for More Button End---*/
/*---------------------Main content End------------------*/


/*-------------------Right content Start-----------------*/
.home-feedback{
    position: fixed;
    display: flex;
    right: 16px;
    bottom: 16px;
    z-index: 10;
}
.home-feedback-inner{
    display: flex;
    align-items: center;
    background: #f28f1e;
    width: 70px;
    height: 70px;
    position: sticky;
    box-shadow: 2px 4px 20px rgba(119, 119, 119, .5);
    border-radius: 15px;
}
.home-feedback i{
    color: #efefef;
    font-size: 45px;
    padding: 12px;
    display: flex;
}

/*--Give Feedback Menu Start--*/
.homefeedback-menu{
    right: 106px;
    bottom: 16px;
    z-index: 10;
    position: fixed;
    width: 90%;
    max-width: 350px;
    height: 460px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.homefeedback-menu-height{
    max-height: 320px;
}
.feedback-input-container{
    padding: 20px;
    width: 50%;
    height: 190px;
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
}
.feedback-input-container textarea{
    width: 310px;
    position: sticky;
    right: 1000px;
    padding-top: 10px;
    height: 150px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.feedback-input-container hr{
    width: 310px;
}
.feedback-sent-btn{
    width: 100px;
    background-color: #b02828;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
}
.feedback-sent-btn:hover{
    background-color: #f28f1e;
}
/*--Give Feedback Menu End--*/

/*--Give Another Feedback Menu Start--*/
.home-another-feedback-menu{
    right: 106px;
    bottom: 16px;
    z-index: 10;
    position: fixed;
    width: 90%;
    max-width: 350px;
    height: 460px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}
.home-another-feedback-menu-height{
    max-height: 320px;
}
.homefeedback-container label{
    margin-left: 130px;
}
.homefeedback-container p{
    text-align: center;
}
.feedback-sent-another-btn{
    width: 200px;
    background-color: #b02828;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    margin: 30px 75px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
}
/*--Give Another Feedback Menu End--*/
/*---------------Right content End--------------*/

.post-img-slider{
    align-items:center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.self-post-container .splide{
    height: 400px;
    width: 760px;
}

.self-post-container .splide li img{
    width: 760px;
    height: 400px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
/*------------------------Home Page End-----------------------*/

