{% load static %}
<!--Navigation Bar Start-->
<nav>
    <!--left side navigation bar start-->
    <div class="nav-left">
        <div class="nav-left-inner">
            <a href="{% url 'blog:index'%}">
                <div class="logo"><img src="{% static 'img/logo.png' %}"></div>
            </a>
        </div>
    </div>
    <!--left side navigation bar end-->


    <!--Middle side navigation bar start-->
    <div class="nav-middle">
        <div class="search-box">
            <div class="search-box-inner">
                <img src="{% static 'img/search.png' %}" alt="">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
    <!--Middle side navigation bar end-->


    <!--right side navigation bar start-->
    <div class="nav-right">
        
        <ul> 
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'blog:index'%}" class="nav-icon"> <!--Home Icon-->
                    <i class="fas fa-home"></i>
                </a>
            
            </li>
            <li>
                <a role="button" class="create-post-icon"> <!--Post Icon-->
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li>
                <a class="nav-icon active" id="messages-notification" onclick="navigationsMenuToggle()"> <!--Notification Icon-->
                    <i class="fas fa-bell"><small class="notification-count">6</small></i>
                </a>
            </li>
            {% endif %}
            
        </ul>
        {% if request.user.is_authenticated %}
        <div class="nav-user-icon" onclick="settingsMenuToggle()">
            <img id="nav_user_icon" src="{{ request.user.profile.profileimg.url }}" alt="">
        </div>
        {% else %}
        <div class="login-register-btn">
            <a href="{% url 'login'%}">
                Log in/Register
            </a>
        </div>
        {% endif %}
    </div>
    <!--right side navigation bar end-->



    <!----------------User setting menu Start----------------->
    <div class="settings-menu arrow-top" id="settings_menu">

        <div class="settings-menu-inner" id="settings_menu">
            {% if request.user.is_authenticated %}
            
            <a href="{% url 'blog:self_profile' %}" class="user-profile">
                <img src="{{ request.user.profile.profileimg.url }}" id="settings_menu">
                <div id="settings_menu">
                    <h2 id="settings_menu">{{ request.user.full_name }}</h2>
                </div>
            </a>
            

            <hr> <!--setting menu分割线-->

            <a href="{% url 'logout' %}" class="setting-links">
                <img src="{% static 'img/logout.png' %}" class="settings-icon">
                <div class="setting-links-content">
                    Logout
                    <img src="{% static 'img/arrow.png' %}" width="10px">
                </div>
            </a>

            {% else %}
            <div class="user-profile"> <!--Line 1-->
                <img src="{% static 'img/log-icon.png' %}">
                <div>
                    <p>Sign In/Sign Up</p>
                    <a href="/login">Log in/Sign up with your account</a>
                </div>
            </div>
            <hr> <!--setting menu分割线-->
            {% endif %}
        </div>
    </div>
    <!----------------User settisng menu End----------------->

</nav>

<script src="{% static 'js/nav-bar.js' %}"></script>
<!--Navigation Bar End-->