{% extends 'users/user_base.html' %}

{% load static %}
{% block content %}  

<style>
    .container{
        width: 25%;
    }

    @media screen and (max-width: 1200px) {
    .container {
        width: calc( 100% - 30px);
        max-width: 100%;
    } }


    .form-title {
        font-size: 24px;
        text-align: center;
    }

    .form-text {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .resetpass-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px;
    }

    .resetpass-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
    }

    .fa-lock {
        width: 100%;
        font-size:60px;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-button {
        text-align: center;
    }

    .back-login{
        text-align: left;
        
    }

</style>

<!--Reset Password-->

<section class="reset-pass">
    <div class="container">
        <div class="resetpass-content">
            <div class="resetpass-form">
                <i class="fa-solid fa-lock"></i>
                <h2 class="form-title">Forgot your password?</h2>
                

                <form method="POST" class="resetpass-form" id="resetpass-form">
                    {% csrf_token %}
                    <p class="form-text">Enter your email address below, and we'll email you a reset link for setting a new password.</p>
                    {% for field in password_form %}

                    <div class="form-group">
                        <label><i class="fa-solid fa-envelope"></i></label>
                        {{field}}
                    </div>

                    {% endfor %}
                    <div class="form-group form-button">
                        <input type="submit" name="reset-send" id="reset-send" class="form-submit" value="Send me reset email"/>
                    </div>
                </form>
            </div>
            <div class = "back-login">
                <a class = "back-text" href="{% url 'login' %}">Back To Login</a>
            </div>
        </div>
        
    </div>
    
</section>
{% endblock content %}