{% extends 'users/user_base.html' %}

{% load static %}
{% block content %}  

<style>
    .container{
        width: 25%;
    }

    @media screen and (max-width: 1200px) {
    .container {
        width: calc( 100% - 30px);
        max-width: 100%;
    } }


    .form-title {
        font-size: 24px;
        text-align: center;
    }

    .form-text {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .resetpass-content {
        padding: 40px 40px;
    }

    .resetpass-form {
        padding: 0px 20px;
    }

    .fa-key {
        width: 100%;
        font-size:60px;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-button {
        text-align: center;
    }

    .error-message{
        text-align: center;
        margin-top: 3px;
        width: 100%;
        display: block;
        background-color: #ecc8c5;
        padding: 15px 40px;
        color: #b32f2d;
        box-sizing: border-box;
        border-radius: 4px;
    }
</style>

<!--Reset Password-->

<section class="reset-pass">
    <div class="container">
        <div class="resetpass-content">
            <div class="resetpass-form">
                <i class="fa-solid fa-key"></i>
                <h2 class="form-title">Set new password</h2>
                

                <form method="POST" class="resetpass-form" id="resetpass-form">
                    {% csrf_token %}
                    <p class="form-text">Create a new password for your account.</p>

                    {% for field in form %}
                        <div class="form-group">
                            <label><i class="fas fa-lock"></i></label>
                            {{field}}
                        </div>
                    {% endfor %}

                    {% for field in form %}
                    <div id="error-report">
                        {% for error in field.errors %}
                            <span class='error-message'>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <div class="show-p">
                        <input type="checkbox" id="showpass"onclick="showPasswordFunction()">
                        Show Password
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="reset-send" id="reset-send" class="form-submit" value="Reset password"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function showPasswordFunction() {
            var x = document.getElementById("id_new_password1");
            var y = document.getElementById("id_new_password2");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
    </script>
</section>
{% endblock content %}