{% load static %}

<!----------------Create Post menu Start----------------->
<div class="menu-background" id="create-post-forum">
    <div class="createpost-menu">
        <div class="header">
            <h2>Create Post</h2>
            <label for="click" class="fas fa-times" onclick="closeCreatePostMenu()"></label>
        </div>
        <div class="createpost-menu-inner">
            
            <div class="create-post-container"> <!--Write-->
                <div class="user-profile">
                    <a href="http://127.0.0.1:5500/Queendom/user-profile.html">
                        <img src="{{ request.user.profile.profileimg.url }}">
                    </a>
                    <div>
                        <p>{{ request.user.full_name }}</p>
                        <select name="privacy" id="privacy">
                            <option value="Public">Public</option>
                            <option value="Privacy">Private</option>
                        </select>
                    </div>
                </div>
                <form method="POST" id="post_form" enctype="multipart/form-data">{% csrf_token %}
                    
                    <div class="post-input-container"> <!--Input-->
                        <div class="title-box">
                            <input type="text" placeholder="Title..." name="title"> <!--title-->
                        </div>
                        <textarea name="body" id="message" rows="8" placeholder="Post your ideas here..." required></textarea><!--body-->
                        <div id="display_image"></div>
                        <div class="file-upload">
                            <!--
                            <img src="{% static 'img/1.jpeg' %}" class="post-img" id="forum-post-img">
                            <button id="delete-img-btn" class="img-btn fa-solid fa-trash" type="button" onclick="delete_input_files()"></button>
                            <button id="prev-img-btn" class="img-btn-bg img-btn fa-solid fa-angle-left" type="button" onclick=""></button>
                            <button id="next-img-btn" class="img-btn-bg img-btn fa-solid fa-angle-right" type="button" onclick=""></button>
                            <button id="add-img-btn" class="img-btn-bg img-btn fa-solid fa-plus" type="button" onclick=""></button>-->
                            <div class="icon" id="file-upload-item">
                                <i class="fas fa-images"></i>
                            </div>
                            <div class="up-header" id="file-upload-item">
                                Drag photos here
                            </div>
                            <label type="button" for="image_input" class="file-upload-button" id="file-upload-item">
                                Upload from computer
                            </label>
                            
                        </div>
                        <div class="post-forum-bottom">
                            <!--Icons of Post-->
                            <input name="images" type="file" id="image_input" multiple accept="image/*" hidden/>
                            <input name="add_more_imgs" type="file" id="add_more_imgs" multiple accept="image/*" hidden/>
                            <!--<a href="#"><i class="fas fa-grin-alt" onclick="feelingsMenuToggle()"> Feelings</i></a>-->
                            <button class="btn" type="submit" id="post-btn">Post</button>
                        </div>
                    </div>
                </form>
            </div>                     
        </div>
    </div>
</div>
<!----------------Create Post menu End----------------->